@charset "UTF-8";

body{
    width: 1440px;
}

header{
    width: inherit;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site_logo{
    margin: 0 30px;
}

.navigation{
    display: flex;
    justify-content: space-between;
}

.navigation li{
    margin: 0 30px;
}

.fv{
    width: 1440px;
    height: 1000px;
    background: url("../images/fv-bgi@2x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.fv h2{
    background-color: white;
}