@charset "UTF-8";

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navigation{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;    
}
